<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gamecenter.gamecenter.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.gamecenter.gamecenter.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/zsmozi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zsmozi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
        <intent-filter>
            <action android:name="com.gamecenter.gamecenter.activity.RegisterActivity"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
      </activity>
        <activity android:name=".ScenarioAllInfoActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.ScenarioAllInfoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.ChatActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".NewChat.NewChatActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.NewChat.NewChatActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".GroupChatActivity">
            <intent-filter>
                <action android:name="com.gamecenter.gamecenter.activity.GroupChatActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>